services:
  db:
    image: ankane/pgvector
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rahul5757
      POSTGRES_DB: documents_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
